<p>
<div class="nested-field">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Nome</label>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group col-md-4">
      <label>Quantidade</label>
      <%= f.text_field :quantity, class:"form-control" %>
    </div>
    <div class="form-group col-md-4">
      <label>Unidade de medida</label>
      <%= f.text_field :unit, class:"form-control" %>
    </div>

    <%= link_to_remove_association "Remover ingrediente", f %>
  </div>
</div>
</p>
