<div class="nested-field">
  <p>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Nome</label>
      <%= f.text_field :name, class:"form-control" %>
    </div>
    <div class="form-group col-md-4">
      <label>Quantidade</label>
      <%= f.text_field :quantity, class:"form-control" %>
    </div>
    <div class="form-group col-md-4">
      <label>Unidade de medida</label>
      <%= f.text_field :unit, class:"form-control" %>
    </div>
  </div>
  <%= link_to_remove_association "Remover ingrediente", f, { wrapper_class: 'ingredient' } %>
  </p>
</div>

