<h1>Modificar receita</h1>

<p>
  <%= render 'form', recipe: @recipe %>
</p>

<div style="margin-right: 10px">
  <%= link_to t('Show'), @recipe, class:"btn btn-light" %> |
</div>
<%= link_to t('Back'), recipes_path, class:"btn btn-light" %>
